.search-container {
    display: flex;
    /*width: 100%;*/
    align-items: flex-start;
    flex-grow: 1;
    margin: 0 20px;
}

/*#search-input{*/
/*  width: 100%;*/
/*}*/
.search-label {
    width: 100%;
}

.row {
    margin: 20px 0;
}

.slider-row {
    flex-direction: column;


    .slider-section{
        display: flex;
        align-items: flex-end;
        padding-left: 12px;
        width: 50%;

        .slider-container {
            width: 100%;
            .amount-container {

            }
            .slider{
                width: 100%;
            }

        }
    }
    .btn-slider{
        background: rgb(32,32,32);
        color: white;
        width: 120px;
        margin-left: 20px;
    }
}
.products-container {
    .mt-50 {
        margin-top: 50px;
    }
    .mb-50 {
        margin-bottom: 50px;
    }

    .card {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 250px;
        word-wrap: break-word;
        background-color: #fff;
        background-clip: border-box;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.1875rem;
    }

    .card-img-actions {
        position: relative;
    }

    .card-body {
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        padding: 1.25rem;
        text-align: center;
    }

    .card-img {
        width: 350px;
    }

    .star {
        color: red;
    }

    .bg-cart {
        background-color: orange;
        color: #fff;
    }

    .bg-cart:hover {
        color: #fff;
    }

    .bg-buy {
        background-color: green;
        color: #fff;
        padding-right: 29px;
    }

    .bg-buy:hover {
        color: #fff;
    }

    a {
        text-decoration: none !important;
    }
}
