<form action="/additems" method="POST">
    <input type="text" placeholder="name" name="name">
    <input type="text" placeholder="original price" name="price1">
    <input type="text" placeholder="final price" name="price2">
    <button type="submit">Submit</button>
</form>