<form action="/additems" method="POST">
    <input type="text" placeholder="name" name="name" id="name">
    <input type="text" placeholder="mobile number" name="mno" id="mno">
    <input type="text" placeholder="original price" name="price" id="price">
    <input type="text" placeholder="final price" name="pricel" id="pricel">
    <button type="submit">Submit</button>
</form>