<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Document</title>
    <link rel="stylesheet" href="marketplace.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <title>Document</title>
</head>
<body>


<nav class="navbar nav-tabs navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/marketplace"><img class="mr-4" src="/logo-2.jpeg" width="70" height="70"/></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link font1 mr-4" href="#"> Forum</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link font1 mr-4" href="/marketplace">Market Place<span
                            class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link font1 mr-4" href="#">Events</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0 mr-2">

            <a href="/logout" class="btn btn-outline-danger my-2 my-sm-0" type="submit">Log out</a>
        </form>
    </div>
</nav>



<div class="container">
    <div class="row top-nav">
        <div>
            <ul class="nav nav-pills mb-3" id="pills-tab">
                <li class="nav-item">
                    <a class="nav-link filter-pill"  data-toggle="pill" id="filter-pill-">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link filter-pill" data-toggle="pill" id="filter-pill-Apron">Aprons</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link filter-pill" data-toggle="pill" id="filter-pill-Book" >Books</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link filter-pill" data-toggle="pill" id="filter-pill-Tool">Tools</a>
                </li>
            </ul>
        </div>
<!--        <div class="search-container">-->
<!--            <label for="search-input" class="search-label">-->
<!--                <input id="search-input" type="search" class="form-control"-->
<!--                       placeholder="Search books, aprons, tools.."/>-->
<!--            </label>-->
<!--            <button id="search-button" type="button" class="btn btn-primary">-->
<!--                <i class="fas fa-search"></i>-->
<!--            </button>-->
<!--        </div>-->

        <div>
            <button type="button" id="post-ad-trigger" class="btn btn-warning" data-toggle="modal"
                    data-target="#post-ad-modal">Post your ad
            </button>
        </div>
    </div>
    <div class="row products-container">
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row" id="output">


            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="post-ad-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%- include('forms/postAdForm'); %>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="post-ad-submit" class="btn btn-primary">Post my Ad!</button>
            </div>
        </div>
    </div>
</div>


<script
        src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="/scripts/controllers/marketplaceController.js" type="module"></script>

</body>
</html>
